<a href="{% url 'reminders:group' %}">Создать группу</a>	
<p>{{request.user.username}}</p>



Напоминании:
{% for i in request.user.reminder.all %}
  <p><a href="{% url 'reminders:rm_page' i.id %}">{{ i.name }}    дата: {{ i.date_of_publish }}</a>


{% endfor %}
	


<p>Мои группы:</p>
{% for i in request.user.profile.all %}
	
<a href="{% url 'reminders:reminderss' i.id  %}">{{ i.name }}</a>
{% endfor %} 
<a href="{% url 'register:register' %}">Регистрация</a>
<a href="{% url 'register:login' %}">Авторизация</a>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}